
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Styling for pagination bullets */
.custom-pagination span {
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 60px;
  transition: all 0.3s ease;
  opacity: 1;
}

.custom-pagination2 span {
  width: 20px;
  height: 5px;
  background-color: #00000066;
  border-radius: 60px;
  transition: all 0.3s ease;
  opacity: 1;
}

/* Active bullet */
.custom-pagination .swiper-pagination-bullet-active {
  background-color: #0BB501;
}

.custom-pagination2 .swiper-pagination-bullet-active {
  background-color: #0BB501;
}

/* Scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.react-calendar__tile--now {
  border: 2px solid green !important;
  border-radius: 100%;
  background: transparent !important;
  font-weight: bold !important;
}

.react-calendar__tile {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}